/* == LIGHT MODE == */
/* :root {
    --text-color: black;
    --background-color: #f3f3f3;
} */
/* == DARK MODE == */
/* @media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --background-color: #1b1b1b;
    }
    .main {
        text-shadow: 1px 1px 2px black;
    }
} */
:root {
    --text-color: 1b1b1b;
    --background-color: #1b1b1b;
    --light-background-color: #acab9f;
    --button-background: #4464AD;
    --accent-background: #efe9dd;
}
.main {
    /* text-shadow: 1px 1px 2px black; */
}
/* Fonts */
@font-face {
    font-family: 'Calibri Light';
    src: 
    url('assets/fonts/calibril.ttf') format('truetype'),
    url('assets/fonts/calibril.otf') format('opentype'),
    url('assets/fonts/calibril.svg') format('svg');   
}

/* == UNIVERSAL RULES == */
.body, body, main {
    background-color: var(--light-background-color);
    color: var(--text-color);
    font-family: 'Calibri Light', Verdana, Tahoma, serif, sans-serif;
    font-weight: lighter;
}
.link { 
    font-size: 105%;
    text-decoration: underline;
    color: var(--text-color);
}
.link:hover {
    color: var(--text-color);
}
b.b {
    font-size: 105%;
    font-weight: bold;
}
#top { /* To push down top block of content */
    margin-top: 3em;
}
/* Hide Scrollbar */
html::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Transition Timer */
* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .1s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}
.bg { /* Asset and css from https://codepen.io/iceable/pen/yLBrZOd! */
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .4;
    visibility: visible;
    z-index: -999;
}          
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
/* Courtesy of https://www.gradient-animator.com/! */
.bottomBar {
    background: linear-gradient(70deg, #ff4a00, #ff0075);
    background-size: 300% 300%;

    -webkit-animation: BottomBar 20s ease infinite;
    -moz-animation: BottomBar 20s ease infinite;
    -o-animation: BottomBar 20s ease infinite;
    animation: BottomBar 20s ease infinite;

    height: 20px;
    width: 100vw;
    position: static;
    margin-top: auto;
    bottom: 0px;
}
@-webkit-keyframes BottomBar {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes BottomBar {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-o-keyframes BottomBar {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes BottomBar {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
/* End animation css! */

/* == LARGE SCREENS == */
/* Primary, Secondary, and Wide Sizes for content */
.primary {
    max-width: 850px;
    margin: 0 30px 0 20px;
    
}
.secondary {
    max-width: 82vw;
    margin: 0 30px 0 20px;
}

/* Custom Font Sizes */
.header { 
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    max-height: fit-content;
    
}
.big { 
    font-size: 1.7em;
}
.medium {
    font-size: 1.5em;
}
.small {
    font-size: 1.3em;
}
.paragraph {
    font-size: .7em;
    font-weight: 1.4em;
}
.title {
    margin: .5em 0 .7em 0;
    font-family: 'PT Serif', Verdana, Tahoma, serif, sans-serif;
    /* max-width: fit-content; */
    /* flex-shrink: 3; */
    /* text-shadow: 1px 1px #ff0075; */
}
h3.title {
    margin: 1em 0 .7em 0;
}


/* Header and Navbar */
.bar {
    color: var(--text-color);
    /* margin-left: 20px; */
    /* min-height: 5em; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-background);
    
}
header {
    /* margin-left: 7vw; */
    z-index: 999;
}
.btn.auxbtn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
.btn.auxbtn:hover {
    background: #4464AD;
    color: white;
}
.bar > .btn{
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing:2px;
    margin: 20px 2px;
    text-transform: uppercase;
    position:relative;
    /* color: var(--text-color); */
    /* top: 20px; */
    transition: .2s;
}
.bar > .selected {
    background: #899A84;
}
.bar > .btn:hover{
    border:none;
    background: #4464AD;
    
    padding: 20px 20px;
    margin: 0px 2px;
    /* color: var(--text-color); */
    color: white;
}
hr.headerLine {
    display: block;
    height: 1px;
    width: 30vw;
    border: 0;
    border-top: 1.5px solid hsla(0, 0%, 11%, 0.5);
    margin: 0 1em ;
    padding: 0;
    /* flex-grow: 3; */
    /* padding-top: 25px; */

}

/* Info Cards */
.infoCardContainer.horizontal {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 10px;
}
.infoCardContainer.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* align-content: flex-start; */
    /* align-items: left; */
}
.infoCardContainer.merge {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    background-color: var(--accent-background);
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 4px;
}
.vertical > .infoCard {
    background-color: var(--accent-background);
    padding: .7em;
    border-radius: 4px;
    flex-grow: 9;
}
.horizontal > .infoCard {
    background-color: var(--accent-background);
    padding: .7em;
    border-radius: 4px;
    flex-grow: 9;
    width: 30vw;
}
.merge >.infoCard {
    background-color: var(--accent-background);
    border-radius: 4px;
    flex-grow: 9;
}
.merge > .infoCard > .infoCardHeader {
    font-family: 'PT Serif', Verdana, Tahoma, serif, sans-serif;
    text-align: left;
}
.infoCardHeader {
    font-family: 'PT Serif', Verdana, Tahoma, serif, sans-serif;
    text-align: center;
    margin: 0;
}
.horizontal > .infoCard > .infoCardContent {
    color: #1b1b1be8;
    text-align: center;
    margin: 0;
    font-size: .7em;
    line-height: 1.4em;
}

.vertical > .infoCard > .infoCardContent {
    color: #1b1b1be8;
    text-align: left;
    margin: 0;
    font-size: .7em;
    line-height: 1.4em;
}
.merge > .infoCard > .infoCardContent {
    color: #1b1b1be8;
    text-align: left;
    margin: 0;
    font-size: .7em;
    line-height: 1.4em;
}

/* Card Buttons */
.cardButtons {
    text-align: center;
}
.cardButtons > .btn {
    /* background: linear-gradient(70deg, #ff4a00, #ff0075); */
    margin: 0px 15px 10px;
}
/* Abstract Page Images */
.image {
    /* max-width: 600px; */
    display: flex;
    margin: 0 auto 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    filter: drop-shadow(2px 2px 2px #00000054);
}
.imgContainer {
    display: flex;
    /* margin: 1em auto 1em auto; */
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    max-width: 100%;
}
.heroImage {
    max-height: 500px;
}

/* Works Page Tabs */

/* Style the tab */
.tab {
    margin-left: 12px;
    
}

/* Style the buttons that are used to open the tab content */
.tabBtn {
    top: 0;
    /* tab buttons should be transparent and a div around them should underline them when they're selected */
    background: transparent;
    padding: 11.5px 20px;
    text-decoration: none;
    border: none;
    
    letter-spacing: 2px;
    margin: 0 0 20px 2px;
    text-transform: uppercase;
    position: relative;
    color: var(--text-color);
    /* top: 20px; */
    transition: .1s;

}

/* .bar >.selected {
    background: #899A84;
} */

.tabBtn:hover {
    top: 0;

    background: transparent;
    border-bottom: 1.5px solid rgb(27, 27, 27, 0.5);
    padding: 10px 20px;
    margin: 0 0 20px 2px;
    color: var(--text-color);
    /* color: #1b1b1b; */
}
.tab button {
    

}


/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--text-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
}
.hero {
    height: 500px;
    background-color: #1b1b1b;
}



footer.footer {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

table.table, th, td {
    color: var(--text-color);
    background-color: var(--background-color);
    filter: drop-shadow(2px 2px 2px #00000054);
    padding: 5px;
    font-size: .85em;
    border: 1px solid black;
    border-collapse: collapse;
}
table{}

.main { /* Content Alignment */
    margin: 2vw auto 3vw 7vw;
    background-color: transparent;
}

/* Project Card Rules */
.card { 
    color: black;
}
div.card-footer {
    padding: .5rem .75rem 0.1rem;
    text-align: center;
}
.projectCard {
    display: inline-block;
    margin-bottom: 15px;
}
#projectCardList {
    text-shadow: none;
    column-count: 3;
    max-width: 70vw;
    margin: 0 15px;
    column-gap: 15px;
}
/* Remove underline from href card links */
.projectCard:link { text-decoration: none; }
.projectCard:visited { text-decoration: none; }
.projectCard:hover { text-decoration: none; }
.projectCard:active { text-decoration: none; }

/* MEDIUM SCREENS */
@media only screen and (max-width: 1080px) {
    .bar { /* Navbar */
        height: 60px; 
    }
    .logo { /* Navigation Logo */
        margin: 5px 0 0 5px;
        max-width: 50px;
        max-height: 50px;
    }
    .main { /* Content Alignment */
        margin: 2em 8vw;
    }   
    /* Custom Font Sizes */
    .header { 
        font-size: 2.4em;
    }
    .big { 
        font-size: 1.9em;
    }
    .medium {
        font-size: 1.4em;
    }
    .small {
        font-size: 1.2em;
    }
    /* Primary and Secondary Sizes for content */
    .primary {
        max-width: 80vw;
        margin: 0 auto;
    }
    .secondary {
        max-width: 70vw;
        margin: 0 auto;
    }
    /* Project Card Rules */
    #projectCardList {
        columns: 2;
    }
    /* Abstract Page Images */
    .image {
        max-width: 500px;
    }
}
/* == SMALL SCREENS ==*/
@media only screen and (max-width: 750px) { 
    /* Main Block Margins */
    .main { /* Content Alignment */
        margin: 2em 5vw;
    }
    #top {
        margin-top: 2.5em;
    }
    /* Primary and Secondary Sizes for content */
    .primary {
        max-width: 80vw;
    }
    .secondary {
        max-width: 70vw;
    }
    /* Custom Font Sizes */
    .header { 
        font-size: 1.9em;
    }
    .big { 
        font-size: 1.6em;
    }
    .medium {
        font-size: 1.2em;
    }
    .small {
        font-size: .9em;
    }
    /* Project Card Rules */
    #projectCardList {
        columns: 1;
        max-width: 80vw;
        margin: 0 auto;
    }
    /* Abstract Page Images */
    .image {
        max-width: 350px;
    }

    /* Nav Bar */
    header {
        margin: 0;
    }
    .bar {
        text-align: center;
        margin: auto;
    }
    .bar > .btn{
        font-size: .9em;
        letter-spacing: 0px;
        padding: 10px 12px;
        margin: 15px 1px;
    }
    .bar > .btn:hover{
        padding: 15px 12px;
        margin: 0px 1px;
    }
}