
/* UNIVERSAL RULES */
body {
    /* background-color: #F4F4F4; */
    background-color: white;
    color: black;
    font-family: 'Consolas', 'Courier New', Arial, Tahoma, sans-serif;
}
p {
    margin-top: .9em;
    margin-bottom: .9em;
}
.bar {
    background-image: linear-gradient(to right, #FF007F, #FF5000);
    color: white;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
/* Navbar */
.bar {
    height: 40px; 
}
#logo {
    margin-top: 4px;
    margin-left: 4px;
    max-width: 32px;
    max-height: 32px;
}

.main {
    margin-left: 7vw;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 3vw;
}
.top {
    margin-top: 5em;
}
/* Primary and Secondary Sizes for content */
.primary {
    max-width: 600px;
    margin-right: 30px;
    margin-left: 20px;
}
.secondary {
    max-width: 82vw;
    margin-right: 30px;
    margin-left: 20px;
}
/* Custom Font Sizes */
.header { 
    font-size: 2.3em;
}
.big { 
    font-size: 1.5em;
}
.medium {
    font-size: 1em;
}
.small {
    font-size: .85em;
}
/* Hover link */
.link:hover {
    background-image: linear-gradient(to right, #FF007F, #FF5000) ;
    color:white;
    transition: 0.5s; 
    font-size: 107%;
}
.link {
    color: black;
    font-size: 105%;
}
/* Bold Hover */
b:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    font-size: 107%;
}
b {
    font-size: 105%;
}

/* MOBILE RULES */
@media only screen and (max-width: 780px) {
    /* Navbar */
    .bar {
        height: 60px; 
    }
    #logo {
        margin-top: 5px;
        margin-left: 5px;
        max-width: 50px;
        max-height: 50px;
    }
    /* Main Block Margins */
    .main {
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2em;
        margin-bottom: 6vh;
    }
    .top {
        margin-top: 12vh;
    }
    /* Primary and Secondary Sizes for content */
    .primary {
        max-width: 75vw;
        margin-right: 10px;
        margin-left: 10px;
    }
    .secondary {
        max-width: 82vw;
        margin-right: 10px;
        margin-left: 10px;
    }
    /* Custom Font Sizes */
    .header { 
        font-size: 2.4em;
    }
    .big { 
        font-size: 1.9em;
    }
    .medium {
        font-size: 1.3em;
    }
    .small {
        font-size: 1em;
    }
    /* Hover link */
    .link:hover {
        background-image: linear-gradient(to right, #FF007F, #FF5000) ;
        color:white;
        transition: 0.5s; 
        font-size: 112%;
    }
    .link {
        color: black;
        font-size: 110%;
    }
    /* Bold Hover */
    b:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
        font-size: 112%;
    }
    b {
        font-size: 110%;
    }
}

/* Rocker Switch CSS Rules */
/* Credit to Marcus Connor:
    https://codepen.io/marcusconnor/pen/QJNvMaa
 */
*, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding:0;
}
.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}


/* Switch starts here */
.rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #2c2c2c;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #666666;
    }

.rocker-small {
    font-size: 0.75em; /* Sizes the switch */
    margin: 1em;
}

.rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2c2c2c;
    border: 0.5em solid #666666;
    border-bottom: 0;
}

.rocker input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-left,
.switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
}

.switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #696969;
    transform: rotate(15deg) skewX(15deg);
}

.switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #461a38;
    color: #ffffff;
}

.switch-left::before,
.switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #8f8f8f;
    transform: skewY(-65deg);
}

.switch-left::before {
    left: -0.4em;   
}

.switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

input:checked + .switch-left {
    background-color: #e45300;
    color: #ffffff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
    background-color: #666666;
    color: #2c2c2c;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
    background-color: #8f8f8f;
}

/* Keyboard Users */
input:focus + .switch-left {
    color: #333;
}

input:checked:focus + .switch-left {
    color: #fff;
}

input:focus + .switch-left + .switch-right {
    color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
    color: #333;
}

