/* == LIGHT MODE == */
:root {
    --text-color: black;
    --background-color: #f3f3f3;
}
/* == DARK MODE == */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --background-color: #1b1b1b;
    }
}
/* Fonts */
@font-face {
    font-family: 'Calibri Light';
    src: url('assets/fonts/calibril.ttf') format('truetype');
}

/* == UNIVERSAL RULES ==*/
.body, body, main {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Calibri Light', serif, sans-serif;
    font-weight: lighter;
}
.link { 
    font-size: 105%;
    text-decoration: underline;
    color: var(--text-color);
}
.link:hover {
    color: var(--text-color);
}
b {
    font-size: 105%;
    font-weight: bold;
}
#top { /* To push down top block of content */
    margin-top: 5em;
}

.bg { /* Asset and css from https://codepen.io/iceable/pen/yLBrZOd! */
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .4;
    visibility: visible;
    z-index: -999;
}          
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
/* Courtesy of https://www.gradient-animator.com/! */
.bottomBar {
    background: linear-gradient(70deg, #ff4a00, #ff0075);
    background-size: 300% 300%;

    -webkit-animation: BottomBar 20s ease infinite;
    -moz-animation: BottomBar 20s ease infinite;
    -o-animation: BottomBar 20s ease infinite;
    animation: BottomBar 20s ease infinite;

    height: 20px;
}
@-webkit-keyframes BottomBar {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes BottomBar {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-o-keyframes BottomBar {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes BottomBar {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
/* End animation css! */


/* == LARGE SCREENS == */
/* Primary, Secondary, and Wide Sizes for content */
.primary {
    max-width: 600px;
    margin: 0 30px 0 20px;
}
.secondary {
    max-width: 82vw;
    margin: 0 30px 0 20px;
}
/* Custom Font Sizes */
.header { 
    font-size: 2.5em;
}
.footer {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footContent{
    /* tbd */
}
.big { 
    font-size: 1.7em;
}
.medium {
    font-size: 1.5em;
}
.small {
    font-size: 1.3em;
}
.main { /* Content Alignment */
    margin: 2vw auto 3vw 7vw;
    background-color: transparent;
}

/* Project Card Rules */
.card { 
    color: black;
}
.projectCard {
    margin: 0 0 15px 15px;
}
/* Flexbox Card Alignment */
#projectCardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 70vw;
    margin: 0 15px;
}
.column {
    max-width: 33.333%;
    display: flex;
    flex: 33.3333%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* Remove underline from card links */
.projectCard:link { text-decoration: none; }
.projectCard:visited { text-decoration: none; }
.projectCard:hover { text-decoration: none; }
.projectCard:active { text-decoration: none; }


/* MEDIUM SCREENS */
@media only screen and (max-width: 1200px) {
    .bar { /* Navbar */
        height: 60px; 
    }
    .logo { /* Navigation Logo */
        margin: 5px 0 0 5px;
        max-width: 50px;
        max-height: 50px;
    }
    .main { /* Content Alignment */
        margin: 2em 8vw;
    }   
    
    /* Custom Font Sizes */
    .header { 
        font-size: 2.4em;
    }
    .big { 
        font-size: 1.9em;
    }
    .medium {
        font-size: 1.4em;
    }
    .small {
        font-size: 1.2em;
    }
    /* Primary and Secondary Sizes for content */
    .primary {
        max-width: 80vw;
        margin: 0 auto;
    }
    .secondary {
        max-width: 70vw;
        margin: 0 auto;
    }
    /* Project Card Rules */
    .projectCard {
        margin: 0 12px 12px 0;
    }   
}
/* == SMALL SCREENS ==*/
@media only screen and (max-width: 780px) { 
    /* Main Block Margins */
    .main { /* Content Alignment */
        margin: 2em 5vw;
    }
    #top {
        margin-top: 2.5em;
    }
    /* Primary and Secondary Sizes for content */
    .primary {
        max-width: 80vw;
    }
    .secondary {
        max-width: 70vw;
    }
    /* Custom Font Sizes */
    .header { 
        font-size: 1.9em;
    }
    .big { 
        font-size: 1.6em;
    }
    .medium {
        font-size: 1.1em;
    }
    .small {
        font-size: .9em;
    }
    /* Project Card Rules */
    .projectCard{
        margin: 7px auto;
    }
    #projectCardList {
        margin: 0 auto;
        max-width: 80vw;
    }
    .column {
        flex: 100%;
        max-width: 100%;
        justify-content: center;
    }
}


